@tailwind base;
@tailwind components;
@tailwind utilities;

.profileCard {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2);
    max-width: 500px;
  }
  
  .profileDetails {
    display: flex;
    flex-direction: column;
  }
  
  .profileName,
  .profileEmail,
  .profileAddress,
  .profileAddressActive,
  .profileEmailActive,
  .profileNameActive {
    all: unset;
    margin: 0.3rem 0;
    font-weight: 600;
    width: 100%;
  }
  .profileNameActive {
    background-color: rgba(44, 44, 44, 0.1);
  }
  
  .profileEmail,
  .profileAddress,
  .profileAddressActive,
  .profileEmailActive {
    font-weight: 500;
  }
  .profileEmailActive {
    background-color: rgba(44, 44, 44, 0.1);
  }
  
  .profileAddressActive {
    background-color: rgba(44, 44, 44, 0.1);
  }

  .socialLogin {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .socialIconDiv {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    margin: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }
  
  .socialIconImg {
    width: 100%;
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}